/* Reset margins and padding */

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body, html {
    font-family: 'Patrick Hand', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    /* Background color for fallback */
}


/* From Uiverse.io by EmmaxPlay */ 
.card {
    display: none;
    width: 400px;
    height: 450px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 10;
    position: relative;
    overflow: auto;
}
   
.tools {
    display: flex;
    align-items: center;
    padding: 7px;
    justify-content: space-between;
}
   
.circle {
    padding: 0 4px;
}
   
.tools h2 {
    margin: 0 auto;
    font-size: 25px;
    color: white; /* Make header text white */
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
   
.red {
    background-color: #ff605c;
}
   
/* Style the background video */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.open_menu {
    padding: 5px;
    background-color: #848884;
    width: 45px;
    height: 45px;
    z-index: 10;
    position: absolute;
    top: 20px;
    right: 40px;
    border-radius: 8px;
}

.menu img{
    margin-top: 2px;
    height: 42px;
}
/* Optional: Add content above the video */
.content {
    position: absolute;
    color: white;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style for the button */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    z-index: 10; /* Ensure button stays above video and other elements */
    position: relative; /* Make sure the button is positioned above the video */
    top: 20px;
}

/* Popup menu styles */

.popup-content {
    background: #000; /* Popup content background */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.popup-content p{
    color: white;
}
.popup-content .background-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Reduced gap between rows */
    height: 80%;
    overflow-y: auto;
}

.popup-content .background-option {
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease;
}

.popup-content .background-option:hover {
    transform: scale(1.1);
}

.popup-content img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

audio {
    width: 100%;
    max-width: 600px;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
  }
  